<div ng-controller="HomeController as vm">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#!" data-activates="mobile" style="color: #FF3800; font-size: 9px important!;" class="button-collapse left">
        <i class="material-icons">menu</i>
      </a>
      <div class="center" style="color: #FF3800; font-size: 15px !important;">{{ vm.namePosition }}</div>
      <ul class="side-nav " id="mobile">
        <li ng-repeat="menu in vm.menu" ng-if="menu.nombre != 'Change password'">
          <a class="Asap-Bold" ng-click="vm.showMenuActive(menu)">{{menu.nombre}}</a>
        </li>
      </ul>
      <div class="hide-on-small-only">
        <ul class="right" style="margin-top: -65px">
          <li>
            <a href ng-click="vm.showMenuActive(vm.menu[vm.menu.length -1]);">Change Password</a>
          </li>
          <li>
            <a class="Asap-Bold grey darken-2" href="#!/login" class="btn btn-primary blue" id="logout">
              Sign Out
            </a>
          </li>
        </ul>
      </div>
      <div class="hide-on-med-and-up">
        <ul class="right" style="margin-top: -60px">
          <li>
            <a href ng-click="vm.showMenuActive(vm.menu[vm.menu.length -1]);">
              <i class="material-icons">lock</i>
            </a>
          </li>
          <li>
            <a class="Asap-Bold grey darken-2" href="#!/login" class="btn btn-primary blue" id="logout">
              <i class="material-icons">exit_to_app</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-include src="'menu/'+ vm.showMenu" onload="vm.loadMapa();"></ng-include>
</div>
<script>
  $(document).ready(function () {
    $(".button-collapse").sideNav();
    $(".button-collapse").show();
  });

  $("#logout").click(function () {
    $('.button-collapse').hide();
    $('.button-collapse').sideNav('hide');
  });
</script>