<style>
    .myC {
        width: 100%;
        height: 500px;
        display: grid;
        flex-direction: column;
        justify-content: center;
    }

    .myC .formCupones {
        margin-top: 15%;
        width: 100% !important;
        background-color: #1a1a19;
    }
    input{
        color: #ffffff;
    }
</style>
<div ng-controller="cuponesController as vm" class="container myC">
    <div class="row formCupones">
        <form name="formCupon"  class="col s12s">
            <div class="row">
                <div class="input-field col s12">
                    <label>Cupon</label>
                    <input type="text" class="validate" ng-model="vm.a" maxlength="30" required>
                </div>
            </div>
            <div class="row">
                <label>Tipo de servicio</label>
                <select class="browser-default" ng-model="vm.a2" required>
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option value="1">Weeken rides</option>
                    <option value="2">Mobile Service</option>
                    <option value="3">Transportation Service</option>
                </select>
            </div>
            <div class="row">
                <div class="col s6">
                    <input id="monetario" name="group1" type="radio" checked/>
                    <label for="monetario">
                        Monetario
                    </label>
                </div>
                <div class="col s6">
                    <input id="porcentaje" name="group1" type="radio" />
                    <label for="porcentaje">
                        Porcentaje
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Valor de descuento</label>
                    <input type="number" class="validate" ng-model="vm.a3" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Cantidad de veces a utilizar</label>
                    <input type="number" class="validate" ng-model="vm.a4" required>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <label>Vigencia</label>
                </div>
                <div class="col s5">
                    <input type="text" placeholder="Desde" class="datepicker" ng-model="vm.a5" required>
                </div>
                <div class="col s5">
                    <input type="text" placeholder="Hasta" class="datepicker" ng-model="vm.a6" required>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <a class="btn modal-close" style="background: #FF3800; margin-right: 10px; display: block" ng-click="">
                        Cancelar
                    </a>
                </div>
                <div class="col s6">
                    <a type="submit" ng-disabled="!formCupon.$valid" style=" display: block" class=" btn green darken-3"
                        ng-click="vm.confirmacion = true;">
                        Guardar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        format: 'mm/dd/yyyy',
        formatSubmit: 'mm/dd/yyyy',
        closeOnSelect: false // Close upon selecting a date,
    });
</script>