<div ng-controller="pushController as vm" style="background-color: #fff !important; width: 100%;">
    <div class="card-content white-text">
        <div class="row" style="position: relative;">
            <div class="col s5">
                <div>
                    <div class="row">
                        <div class="col s10">
                          <label>Buscar usuario</label>
                          <input type="search" ng-model="buscar" style="color: #000000">
                        </div>
                        <div class="col s2" style="padding-top: 20px;">
                          <button class="btn-flat" ng-click="buscar=''" style="color: #FF3800 !important; background-color: transparent !important;"  name="action">
                            Limpiar
                          </button>
                        </div>
                    </div>

                    <div class="col s12">
                        <div style="width: 100%; height: 50px;">
                            <input type="checkbox" ng-checked="vm.sendAll" />
                            <label ng-click="vm.sendAllF()">
                                <span>TODOS</span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div>
                      <div class="col s12" ng-repeat="item in vm.listaUsers | filter: buscar" ng-show="item.send==true">
                          <div style="width: 100%; height: 50px;">
                              <input type="checkbox" ng-checked="item.send" />
                              <label ng-click="vm.send(item)">
                                  <span>{{item.name}}</span>
                              </label>
                          </div>
                      </div>
                      <div class="col s12" ng-repeat="item in vm.listaUsers | filter: buscar" ng-show="item.send==false">
                          <div style="width: 100%; height: 50px;">
                              <input type="checkbox" ng-checked="item.send" />
                              <label ng-click="vm.send(item)">
                                  <span>{{item.name}}</span>
                              </label>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s7 offset-s6" style="position: fixed;">
                <form name="formPushNot" role="form" style="color: black;">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="titulo" ng-model="vm.obj.title" type="text" class="validate" required>
                            <label for="titulo">Título</label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="input-field col s12">
                            <textarea id="descripcion" ng-model="vm.obj.body" class="materialize-textarea" required></textarea>
                            <label for="descripcion">Mensaje</label>
                        </div>

                    </div>
                </form>
                <div class="card-action">
                    <a type="submit" ng-disabled="!vm.obj.title || !vm.obj.body" ng-click="vm.sendMessage()" class="modal-action modal-close btn green darken-3 modal-trigger"
                        style="width: 120px; font-size: 12px; right: 0;">
                        ENVIAR
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
